	 	<div class="hero-unit">
	 		<div class="offset2">
				<h1><%= Rails.application.class.parent_name %></h1>
				<p>Welcome to a world of color!</p>
				<p>
					<%= link_to "Sign Up!", new_user_registration_path, class: "btn btn-primary btn-large" %>
					<%= link_to "Log In!", new_user_session_path, class: "btn btn-info btn-large" %>
				</p>
			</div>
		</div>