<div class="jumbotron masthead">
	<div class="container">
		<h1><%= Rails.application.class.parent_name %></h1>
		<p>Welcome to the future of social color!</p>
		<p>
			<a class="btn btn-primary btn-large">Sign Up!</a>
			<a class="btn btn-primary btn-large">Sign In!</a>
		</p>
	</div>
</div><!-- jumbotron -->